*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
    width: 100%;
}

#main-air-max{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

#left_topo {
    text-align: center;
}

#img_right-topo{
    border-radius: 200px 100px 0px 150px;
    width: 800px;
    height: 800px;
}



#show{
    width: 100%;
    margin: auto;
}

.showing-img{
    width: 563px;
    height: 702px;
    flex-shrink: 0;
    border-radius: 40px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.showing-img-side{
    width: 468px;
    height: 702px;
    flex-shrink: 0;
    border-radius: 40px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

