*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
    width: 100%;
}

#main-air-max{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 250px;
    min-height: calc(100vh - 105px);
}

#left_topo {
    text-align: center;
}

#nike_tittle{
    font-weight: 800;
    font-size: 60px;
}

#left_topo p{
    color: #000;
    font-size: 19px;
    font-weight: 350;
}

#btn-confira{
    width: 150px;
    height: 60px;
    border-radius: 55px;
    background: #c59361d0;
    border: none;
}

#btn-confira:hover{
    transition: all 0.6s ease;
    background-color: #ecbf92;
}

#btn-confira a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

#btn-confira:hover{
    transition: 0.4s ;
    font-size: 17px;
    font-weight: 600px;
}


#img_right-topo{
    border-radius: 150px 100px 20px 150px;
    width: 40vw;
    height: 75vh;
}





/* .historia-air-max{
    height: calc(100vh - 105px);
}

.historia-air-max h2{
    text-align: center;
    margin: 40px 0px 40px 0px;
}

.carrossel{
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 5px;
}

.img-carrossel{
    width: 300px;
    height: 450px;
    border-radius: 30px;
     
}*/