*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
}

.containerpr{
    width: 1080px;
    margin: 0 auto;
    position: relative;
}
/* 
header {
    background-color: #859eb1;
} */

#espace{
    padding-top: 10px;
    padding-left: 250px;
    padding-right: 250px;
    background-color: #859Eb1;
}

#tam{
    height: 80px;
    width: 80px;
    /* margin-right: 50px; */
}


.fisrt-tittle{
    display: flex;
    justify-content: center;
}

.slider{
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    overflow: hidden;
}

.slides{
    width: 600%;
    height: 600px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 1s;
}

.slide img{
    width: 1000px;
    height: 600px;
    transition: 1s;
}

.manual-navigation{
    position: absolute;
    width: 1000px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 1000px;
    margin-top: 560px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn-1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn-2{
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn-3{
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn-4{
    background-color: #fff;
}

.lancamentosImg{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 250px);
    grid-template-columns: repeat(auto-fill, 2fr);
}

.lateral1{
    width: 400px;
    height: 500px;
    grid-column-start: 1;
    grid-row-start: 1;
    border-radius: 20px;
}

.lateral2{
    width: 350px;
    height: 500px;
    grid-column-start: 3;
    grid-row-start: 1;
    border-radius: 20px;
}

.centro1{
    width: 245px;
    height: 245px;
    grid-column-start: 2;
    grid-row-start: 1;
    border-radius: 20px;
}

.centro2{
    width: 245px;
    height: 245px;
    grid-column-start: 2;
    grid-row-start: 2;
    border-radius: 20px;
}