*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
}

.container{
    width: 1080px;
    margin: 0 auto;
    position: relative;
}

header {
    background-color: #859eb1;
}

.logo{
    width: 100px;
    height: 100px;
}

.user{
    width: 20px;
    height: 20px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.opcoes li{
    position: inline;
    float: left;
    padding: 10px;
    text-decoration: none;
    list-style: none;
    font-weight: 300;
    color: black;
    font-size: 18px;
}

.opcoes input{
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 5px;
    width: 150px;
}

.opcoes input::placeholder{
    color: black;
}

.lancamentosImg{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 250px);
    grid-template-columns: repeat(auto-fill, 2fr);
    

}

.lateral1{
    width: 400px;
    height: 500px;
    grid-column-start: 1;
    grid-row-start: 1;
    border-radius: 20px;
}

.lateral2{
    width: 350px;
    height: 500px;
    grid-column-start: 3;
    grid-row-start: 1;
    border-radius: 20px;
}

.centro1{
    width: 245px;
    height: 245px;
    grid-column-start: 2;
    grid-row-start: 1;
    border-radius: 20px;
}

.centro2{
    width: 245px;
    height: 245px;
    grid-column-start: 2;
    grid-row-start: 2;
    border-radius: 20px;
}