.novidades{
    min-height: calc(100vh - 105px);
    width: 100%;
    margin-top: 150px;
}

#tittle-novidades{
    text-align: center;
    margin-bottom: 0;
}

.container-novidades {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
  min-height: calc(90vh - 105px);
}

.novidades-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.img-novidades {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
}

.img-novidades img{
  width: 550px;
  height: 500px;
  border-radius: 20px;
}

.slider {
  opacity: 0;
  transition: opacity .2s;
  position: absolute;
  width: 0%;
}

.on {
  opacity: 1;
}

#prev-button,
#next-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

#prev-button {
  transform: rotate(180deg);
}


/* .item {
  width: 500px;
  height: 500px;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
  opacity: 0.5;
  border-radius: 20px;
} */
