.img-showing{
    margin-top: 10%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   justify-content: center;
   align-items: center;
}

.img-showing h2{
    text-align: center;
    color: #000;
    font-size: 40px;
    font-weight: 700;
}

#show{
    display: flex;
    flex-direction: row;
    margin: 50px 10%;
    gap: 20px;
}

.showing-img{
    width: 30vw;
    height: 85vh;
    border-radius: 40px;
}

.showing-img-side{
    width: 25vw;
    height: 85vh;
    border-radius: 40px;
}