body {
    background-color: black;
    color: white;
    display: flex;
    display: inline;
    text-align: center;
}

fieldset {
    margin-right: 40%;
    margin-left: 40%;
}

#nome{
    margin-top: 5%;
}

input {
    margin-bottom: 10%;
}