input {
    border-radius: 8px;
    border: 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.300);
}

.blur {
    filter: blur(5px);
    /* Adicione o efeito de desfoque */
    pointer-events: none;
    /* Impede que elementos da tela recebam eventos do mouse */
    z-index: -1;
}

.loading-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.loading-modal svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
    z-index: 2;
}

.loading-modal circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}


.card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    /* Centraliza verticalmente */
    justify-content: center;
    /* Centraliza horizontalmente */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo escuro para sobreposição */
}


/* Estilo Modal confirmação */
.modal-confirm {
    width: 280px;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap: 15px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.066);
}

.modal-heading {
    color: rgb(34, 34, 34);
    font-weight: 800;
    text-align: center;
}

.modal-info {
    font-size: 11px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    text-align: center;
}

.button-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.accept-cookie-button {
    width: 50%;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(34, 34, 34);
    color: white;
}

.accept:hover {
    background-color: rgb(0, 0, 0);
}

/*Fim estilo modal confirmação  */