@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    /* margin: 0;
    padding: 0; */
}

header{
    /*width: 100%;*/
    padding: 10px 8%;
    position: sticky;
    top: 0;
    z-index: 3;
    background: rgba(244, 244, 244, 0.66);
}

.img img{
    width: 85px;
    height: 85px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav-list{
    display: flex;
    list-style-type: none;
    gap: 48px;
}

.nav-item a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.right-nav{
    display: flex;
}

.right-nav i{
    padding: 10px;
}

#pesquisa{
    border-radius: 10px;
    border: 1px solid;
    padding: 8px;
    border: none;
    outline: none;
}

.mobile-right-nav{
    display: none;
}

#mobile-btn{
    display: none;
}

#mobile-menu{
    display: none;
}

@media screen and (max-width: 1170px){
    #nav-list{
        display: none;
    }

    .right-nav{
        display: none;
    }

    .mobile-right-nav{
        display: block;
    }

    .mobile-right-nav input{
        width: 80px;
    }

    #mobile-btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile-menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile-nav-list {
        display: flex;
        flex-direction: column;
        float: right;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile-nav-list .nav-item{
        list-style: none;
        text-align: center;
    }
}