@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    
}

.principal{
    width: 100vw;  
    height: 100vh; /*tamanho da viewport (pega o tamanho da tela)*/
    background-color: #96929274;
    display: flex;
    justify-content: center;  /* eixo x */
    align-items: center; /* eixo y */
}

.login{
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.card-login{
    width: 50%;
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-direction: column;
    padding: 30px 35px; /* eixo y e eixo x (respectivamente) */
    background-color:#d3d3d374;
    border-radius: 20px;
    box-shadow: 0px 25px 80px rgb(69, 65, 65);  /*1-sombra direita/esquerda 2-direita/baixo 3-blur 4-cor*/
}

/* .title{
    font-weight: 600;
} */

#logo{
    width: 30%;
    height: 30%;
}

#senha{
    text-decoration: none;
    color: black;
} 

#cadastro{
    text-decoration: none;
    color: black;
}

.text-field{
    display: flex;
    flex-direction: column; /* quando usado flex direction= */
    justify-content: center;  /* eixo y  - inverso */ 
    align-items: flex-start; /* eixo x - inverso */
    margin: 20px 0;
}

.text-field input{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px black;
    border-radius: 10px;
    padding: 15px;
    color: black;
    font-size: 12pt;
    /* box-shadow: 0px 10px 10px rgb(69, 65, 65);  */
    outline: none;
    background-color: #d3d3d36b;
}

.text-field input::placeholder{
    color: black;
}

.text-field label{
    margin-bottom: 10px;
    font-weight: 450;
}

.btn-login{
    background-color: black;
    width: 54%;
    padding: 16px 0px;
    margin: 25px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgb(69, 65, 65);
}

.btn-login:hover{
    background-color: #d3d3d36b;
    color: black;
    transition: all 0.8s ease;
}

