#picture__input,
#picture__inputt {
    display: none;
}

.picture,
.picturee {
    width: 400px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    /* border: 2px dashed #aaa; */
    border-radius: 10px;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    box-shadow: 0 0 10px #777;
    outline: none;
    overflow: hidden;
}

.picture:hover,
.picturee:hover {
    color: #777;
    background: #ccc;
}