*{
    box-sizing: border-box;
}

header {
    background-color: #859eb1;
}

.logo{
    width: 100px;
    height: 100px;
}

.icon-img{
    width: 25px;
    height: 25px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 150px; 
}

.opcoes li{
    position: inline;
    float: left;
    padding: 10px;
    text-decoration: none;
    list-style: none;
    font-weight: 300;
    color: black;
    font-size: 18px;
}

.opcoes a{
    text-decoration: none;
    color: black;
    font-size: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
}

.opcoes input{
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 5px;
    width: 150px;
}

.opcoes input::placeholder{
    color: black;
}