.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3% 10%;
    background-color: #F2F2F2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteudo {
    display: flex;
}

.tittle {
    padding-bottom: 2%;
    align-self: flex-start;
}


h1 {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
}


.infoProd {
    flex-direction: column;
    width: 70vh;
    height: 70vh;
    padding-right: 2%;
    display: flex;
    /* Adiciona display flex */
    flex-wrap: wrap;
    /* Quebra os itens em uma nova linha se não couberem na largura */

}

.cancelar {
    margin-top: auto;
    /* Empurra o botão para o final do contêiner */
}

.chooseImg {
    display: flex;
    flex-direction: column;
    width: 48vh;
    height: 70vh;
    padding-left: 2%;
    position: relative;
    /* Adiciona posicionamento relativo */
}

.cadastrar {
    align-self: flex-end;
    /* Alinha o botão no final (canto direito) */
    margin-top: auto;
    /* Empurra o botão para o final do contêiner */
}

.first-line,
.second-line,
.third-line {
    display: flex;
    padding-bottom: 4%;
}

input,
textarea {
    border-radius: 5px;
    border: 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.300);
    margin-top: 7px;
}

input {
    height: 35px;
}

.chooseImg label {
    margin-top: 3%;
}

.nome-prod input {
    width: 280px;
}

.preco-prod input {
    width: 134px;
}

.preco-prod {
    padding-left: 4.3%;
}

.categoria-prod input {
    width: 230px;
}

.categoria-prod {
    padding-right: 8.3%;
}

.marca-prod input {
    width: 88%;
}

.tamanho-prod input {
    width: 130px;
}

.tamanho-prod {
    padding-right: 5%;
}

.unidade-prod input {
    width: 160px;
}

.unidade-prod {
    padding-right: 5%;
}

.estoque-prod input {
    width: 87px;
}

.EscolhaImg {
    padding-bottom: 5%;
}

.botoes {
    display: flex;
    justify-content: space-between;
    /* Distribui os botões horizontalmente */
    align-items: flex-start;
    /* Alinha os botões ao topo */
    width: 100%;
    /* Garante que os botões ocupem toda a largura */
}

.cancelar,
.cadastrar {
    margin-top: 0;
    /* Remova a margem superior para que os botões fiquem alinhados ao topo */
}

button {
    background-color: #2D8399;
    color: white;
    /* Cor do texto */
    border: none;
    /* Remove a borda */
    padding: 10px 20px;
    /* Espaçamento interno */
    text-align: center;
    /* Alinhamento do texto */
    text-decoration: none;
    /* Remove sublinhado */
    display: inline-block;
    /* Define como bloco */
    font-size: 16px;
    /* Tamanho da fonte */
    cursor: pointer;
    /* Altera o cursor para uma mão ao passar por cima */
    border-radius: 5px;
    /* Borda arredondada */
}

@media screen and (max-width: 855px) {
    .conteudo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-height: 665px) {

    .first-line,
    .second-line,
    .third-line {
        display: flex;
        justify-content: space-between;/* Distribui os elementos horizontalmente */
        align-items: center;
        width: 100%;
        padding-bottom: 4%;
    }
}

@media screen and (max-height: 600px) {

    .conteudo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-height: 575px) {
    .conteudo .description-prod {
        width: 100%; /* Garante que a descrição ocupe toda a largura */
        padding-right: 0; /* Remove o padding direito para evitar que a descrição se mova para a direita */
    }
}

