:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #b1b1b1;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

footer {
    width: 100%;
    color: #000000;
}

.desc {
    color: var(--color-neutral-30);
}

.footer-link {
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

#footer_content {
    /* background-color: #FFAFCC; */
    background: rgba(244, 244, 244, 0.66);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts {
    margin-left: 70px;
}

#footer_contacts .logoRodape img {
    width: 85px;
    height: 85px;
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #FFFFFF;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#252525, #949494, #000000);
}

#github {
    background-color: #FFFFFF;
}

#github img {
    width: 2.5rem;
    height: 2.5rem;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #000000;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 80%;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
    height: 50px;
    border: none;
}

#input_group input {
    border: none;
    all: unset;
    padding: 0.75rem;
    width: 100%;
    color: #FFFFFF;
    background-color: #292929;
}

#input_group button {
    background-color: #FFFFFF;
    border: none;
    color: #000000;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    width: 25%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    color: #000000;
    background-color: var(--color-neutral-10);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}