.main {
  width: 80%;
  min-height: calc(100vh - 105px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  overflow: auto;
  /* gap: 15px; */
}

.lista-produtos {
  width: 50%;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  overflow: ellipsis;
  background-color: rgb(255, 91, 91); /* teste */
}

.resumo-pedido {
  width: 50%;
  height: 650px;
  background-color: rgb(143, 143, 255);/* teste */
}

.lista-produtos .produto {
  width: 80%; /* largura da caixa */
  height: 150px; /* altura da caixa */
  background-color: #FFFFFF; /* cor de fundo da caixa */
  text-align: center;
  margin: 20px;
}