body {
  font-family: "Poppins", sans-serif;
  background-color: #FFFFFF;
}

.main {
  width: 80%;
  min-height: calc(100vh - 105px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  overflow: auto;
  /* gap: 15px; */
}

.lista-produtos {
  width: 60%;
  min-height: 650px;
  max-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  margin-right: 50px;
  background-color: rgb(255, 91, 91); /* teste */
}

.lista-produtos .box-titulos {
  width: 95%;
  min-height: 20px;
  display: flex;
  flex-direction: row;
  margin: 10px 0 5px 0;
  background-color: #FFFFFF;
}

.lista-produtos .box-titulos .title-produtos {
  width: 45%;
}

.lista-produtos .box-titulos .title-qtd {
  width: 18%;
}

.lista-produtos .box-titulos .title-valor {
  width: 18%;
}

.lista-produtos .box-titulos .title-total {
  width: 19%;
}

.lista-produtos .produto {
  width: 95%;
  min-height: 130px;
  background-color: #FFFFFF;
  text-align: center;
  margin: 10px 0;
}

.resumo-pedido {
  width: 40%;
  height: 650px;
  background-color: rgb(143, 143, 255);/* teste */
}

