body {
    font-family: "Poppins", sans-serif;
    background-color: #FFFFFF;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Checkpoints */
.checkpoints {
    width: 750px;
    margin: 40px auto;
}

.checkpoints h1 {
    display: flex;
    flex-direction: row;
}

.checkpoints p {
    color: #c59361d0;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.checkpoints span {
    color: #828282;
}

.checkpoints hr {
    width: 25.316px;
    height: 1px;
    background-color: #c59361d0;
}

.principal {
    font-family: "Poppins", sans-serif;
    border-bottom: solid 1px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 616px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

/* Estilização formulário*/
.group-form,
.endereco {
    margin-bottom: 20px;
}

.group-form label {
    display: block;
    font-weight: 400;
    margin-bottom: 5px;
}

.group-form input {
    width: 100%;
    height: 35px;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.group-form {
    width: calc(50% - 10px);
    /* Calcula 50% da largura da tela, menos o espaço entre os elementos */
    margin-bottom: 20px;
}

.endereco,
#enderecoSalvo {
    width: 100%;
}

#enderecoSalvo {
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    border: solid 1px;
    height: 35px;
    margin-bottom: 10px;
}

.group-form input {
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    border: solid 1px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons button[type="submit"] {
    width: 190px;
    height: 47px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
}

.buttons button[type="submit"][style="background-color: #6c757d;"] {
    background-color: #6c757d;
    margin-right: 10px;
    /* Espaço à direita */
}

.buttons button[type="submit"][style="background-color: #28a745;"] {
    background-color: #28a745;
    margin-left: 10px;
    /* Espaço à esquerda */
}


/* Fim Estilização formulário*/