body {
    font-family: "Poppins", sans-serif;
    background-color: #FFFFFF;
    color: #000000;
}

/* estilização barra de rolagem */
* {
    scrollbar-width: auto;
    scrollbar-color: #5F9EA0 transparent;
}

/* Works on Chrome, Edge, Opera and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #070d12;
}

*::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 3px solid #070d12;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 646px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.main-container h1 {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 48px 0 12px 0;
    color: #000000;
}

.main-container .confirm-pedido {
    width: 646px;
    height: 235px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0.50px rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.main-container .confirm-pedido h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 8px 0;
}

.main-container .confirm-pedido p {
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 20px;
    text-align: center;
}

.main-container .confirm-pedido p span {
    font-weight: 700;
}

.main-container .confirm-pedido .aprovacao-pagamento {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.main-container .info-pedido {
    width: 646px;
    height: 260px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0.50px rgba(0, 0, 0, 0.50);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin-top: 40px;
    padding: 8px 33px;
    box-sizing: border-box;
    color: #000000;
}

.main-container .info-pedido h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 3px;
    text-align: center;
}

.main-container .info-pedido .box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-container .info-pedido .dados-pedido h3 {
    margin: 0;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 1px;
}

.main-container .info-pedido .info {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 8px;
}

.btn-pedidos {
    width: 185px;
    height: 45px;
    border-radius: 35px;
    background: #437172;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
    margin: 30px 0 0 auto;
    transition: background-color 0.5s;
}

.btn-pedidos:hover {
    background-color: #5F9EA0;
}