.confirmacao-pedido {
    font-family: "Poppins", sans-serif;
    background-color: #FFFFFF;
    color: #000000;
    width: 50%;
    height: 50%;
    display: none;
}

.header-modal-pedido {
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-modal-pedido h1 img {
    width: 90px;
    height: 90px;
    padding-top: 10px;
}

.container-modal-pedido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.container-modal-pedido h1 {
    font-family: "Poppins", sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 25px 0 12px 0;

}

.container-modal-pedido .confirm-pedido {
    width: 646px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0.50px rgba(0, 0, 0, 0.50);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-modal-pedido .confirm-pedido h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 8px 0;
}

.container-modal-pedido .confirm-pedido .text-email {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 20px;
}

.container-modal-pedido .confirm-pedido p span {
    font-weight: 700;
}

.container-modal-pedido .confirm-pedido .confirm-pag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-modal-pedido .confirm-pedido .confirm-pag p {
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 10px;
}

.container-modal-pedido .info-pedido {
    width: 646px;
    height: 225px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0.50px rgba(0, 0, 0, 0.50);
    align-items: left;
    margin-top: 20px;
    padding: 8px 33px;
    box-sizing: border-box;
}

.container-modal-pedido .info-pedido h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 3px;
}

.container-modal-pedido .info-pedido .dados-pedido {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

.container-modal-pedido .info-pedido .info {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 6px;
}

body .acessar-pedidos {
    width: 180px;
    height: 45px;
    border-radius: 8px;
    background: #eeeeee;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin: 50px 0 50px auto;
    transition: background-color 0.5s;
}

body .acessar-pedidos:hover {
    background-color: #a3a3a3;
}

.rodape-modal-pedido {
    height: 60px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center
}

.rodape-modal-pedido .copyright {
    /* padding: 10px 0; */
	color:#FFFFFF;
    margin: auto 0;
}

