.container-enderecos {
    display: flex;
    flex-direction: column;
}

.info-enderecos {
    display: flex;
    flex-direction: row;
}

.cadastrar-endereco {
    /* display: flex; */
    position: relative;
    border: solid 1px gray;
    width: 450px;
    height: 250px;
}

.cadastrar-endereco h2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.enderecos-lista {
    border: solid 1px gray;
    width: 450px;
    height: 250px;
}