* {
  box-sizing: border-box;
}

main {
  margin-top: 30px;
}

.content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
  min-height: calc(90vh - 105px);
}

.container-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.imagens-produto {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.slider {
  opacity: 0;
  transition: opacity .2s;
  position: absolute;
  width: 0%;
}

.on {
  opacity: 1;
}

#prev-button,
#next-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

#prev-button {
  transform: rotate(180deg);
}

.imagens-produto img {
  width: 400px;
  height: 400px;
}

#tamanho {
  margin-top: 55px;
  text-align: center;
}

.line-button button {
  width: 40px;
  height: 40px;
}

.c {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.line-button {
  display: flex;
  gap: 8px;
}

.size {
  border-radius: 10px;
  border: none;
}

.button-action {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-action {
  border-radius: 20px;
  padding: 15px;
}

#line-unique button {
  width: 80px;
  height: 40px;
}

.unique {
  padding: 30px 20px;
  border-radius: 10px;
  border: none;
}

.favoritar-fechar {
  display: flex;
  justify-content: end;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cartao-favorito-sem-login, .cartao-favorito, .cartao-remover-favorito, .cartao-carrinho-sem-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-favorito-sem-login, .modal-favorito {
  background-color: #ffffff;
  padding: 18px;
  border: 1px solid #888;
  width: 320px;
  height: 250px;
  position: relative;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-remover-favorito {
  background-color: #ffffff;
  padding: 18px;
  border: 1px solid #888;
  width: 320px;
  height: 170px;
  position: relative;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-favorito-sem-login, .message-favorito{
  text-align: center;
  color: #000;
  font-size: 22px;
  font-weight: 600;
  margin-top: 5%;
}

.message-remover-favorito{
  text-align: center;
  color: #000;
  font-size: 22px;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 25%;
}

.botao-favorito-sem-login, .botao-favorito {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 15px;
}

.botao-favorito-sem-login button, .botao-favorito button {
  margin: 0 25px;
  margin-top: 20px;
  padding: 6px;
}

.favorito-sem-login, .ver-favorito, .carrinho-sem-login {
  background: #000;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}