*{
    box-sizing: border-box;
}

main{
    margin-top: 30px;
}

.content{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.imagens-produto{
    
}

.imagens-produto img{
    border-radius: 20px;
    width: 450px;
    height: 450px;
    box-shadow: 10px 15px 20px rgb(128, 127, 127);
}

#tamanho{
    margin-top: 55px;
    text-align: center;
}

.line-button button{
    width: 40px;
    height: 40px;
}

.c{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.line-button{
    display: flex;
    gap: 8px;
}

.size{
    border-radius: 10px;
    border: none;
}

.button-action{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-action{
    border-radius: 20px;
    padding: 15px;
}