body {
    background-color: #f2f2f2;
    box-sizing: border-box;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.filtroeprod {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerpr {
    width: 100%;
    position: relative;
}

.container-filtro {
    width: 100%;
}

.filtro-produtos {
    width: 70%;
    height: 25%;
}

.filtro-produtos #filtro {
    width: 190px;
    height: 35px;
    border: 2px solid #8d8d8d;
    border-radius: 13px;
    text-align: left;
    padding-left: 12px;
}

.imgProduto {
    height: 250px;
    width: 250px;
}

.link_produto {
    color: inherit;
    /* Isso faz com que os links adotem a cor do texto do elemento pai */
    text-decoration: none;
    /* Isso remove o sublinhado padrão dos links */
}

.link_produto:hover {
    color: inherit;
}

.linha,
.linha2,
.linha3,
.linha4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: row;
    align-items: center;
}

.prod {
    display: flex;
    flex-direction: column;
    margin: 0 2.5%;
}

.cora {
    display: flex;
    justify-content: space-between;
}

/* check de favoritos */
.containerpr input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container-fav {
    display: contents;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.containerpr svg {
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: all 0.3s;
    fill: #666;
}

.containerpr svg:hover {
    transform: scale(1.1);
}

.containerpr input:checked~svg {
    fill: #E3474F;
}

/* sera visivel apenas se o carrinho estiver vazio */
.favoritos-vazio {
    display: none;
    /*IRA ALTERAR PARA "display: flex" CASO O CARRINHO NÃO TENHA PRODUTOS */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin-bottom: 5%;
}

.favoritos-vazio img {
    width: 160px;
    margin: 70px 0 50px 0;
}

/* botões do carrinho vazio */
#btn-ver-produtos {
    display: none;
    /*ira alterar para "flex" caso o usuario esteja autenticado */
}

#btn-fazer-login {
    display: none;
    /*ira alterar para "flex" caso o usuario não esteja autenticado */
}

/* Botão com transição de cor*/
.animated-button {
    position: relative;
    display: inline-block;
    padding: 5px 20px;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 40px;
    font-weight: 600;
    color: #6e6e6e;
    box-shadow: 0 0 0 2px #6e6e6e;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    margin-top: 25px;
}

.animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #161616;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:first-child {
    position: relative;
    z-index: 1;
}

.animated-button:hover {
    box-shadow: 0 0 0 5px #8f8f8f60;
    color: #ffffff;
}

.animated-button:active {
    scale: 0.95;
}

.animated-button:hover span:last-child {
    width: 200px;
    height: 200px;
    opacity: 1;
}

/* Media Queries for Responsiveness */

@media (max-width: 1200px) {

    .linha,
    .linha2,
    .linha3,
    .linha4,
    .filtro-produtos {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: row;
        align-items: center;
    }

    .filtroeprod {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .imgProduto {
        height: 210px;
        width: 210px;
    }
}

@media (max-width: 992px) {

    .linha,
    .linha2,
    .linha3,
    .linha4,
    .filtro-produtos {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: row;
        align-items: center;
    }

    .imgProduto {
        height: 157px;
        width: 157px;
    }
}

@media (max-width: 768px) {

    .linha,
    .linha2,
    .linha3,
    .linha4,
    .filtro-produtos {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: row;
        align-items: center;
    }

    .imgProduto {
        height: 115px;
        width: 115px;
    }

    .cora {
        width: 100px;
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .imgProduto {
        height: 110px;
        width: 110px;
    }

    .cora {
        width: 80px;
        flex-direction: column;
    }

    .link_produto {
        font-size: 14px;
    }
}