body {
    background-color: #f2f2f2;
    box-sizing: border-box;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.filtroeprod {
    width: 80%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerpr {
    width: 100%;
    position: relative;
}

.container-filtro {
    width: 100%;
}

.filtro-produtos {
    width: 70%;
    height: 25%;
}

.filtro-produtos #filtro {
    width: 190px;
    height: 35px;
    border: 2px solid #8d8d8d;
    border-radius: 13px;
    text-align: left;
    padding-left: 12px;
}

.imgProduto {
    height: 250px;
    width: 250px;
}

.link_produto {
    color: inherit;
    /* Isso faz com que os links adotem a cor do texto do elemento pai */
    text-decoration: none;
    /* Isso remove o sublinhado padrão dos links */
}

.link_produto:hover {
    color: inherit;
}

.linha,
.linha2,
.linha3,
.linha4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.prod {
    display: flex;
    flex-direction: column;
    margin: 0 2.5%;
}

.cora {
    display: flex;
    justify-content: space-between;
}

/* check de favoritos */
.containerpr input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container-fav {
    display: contents;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.containerpr svg {
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: all 0.3s;
    fill: #666;
}

.containerpr svg:hover {
    transform: scale(1.1);
}

.containerpr input:checked~svg {
    fill: #E3474F;
}

/* Media Queries for Responsiveness */

@media (max-width: 1200px) {

    .linha,
    .linha2,
    .linha3,
    .linha4,
    .filtro-produtos {
        width: 90%;
    }

    .imgProduto {
        height: 150px;
        width: 150px;
    }
}

@media (max-width: 992px) {

    .linha,
    .linha2,
    .linha3,
    .linha4,
    .filtro-produtos {
        flex-direction: row;
        width: 80%;
    }

    .prod {
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .imgProduto {
        height: 120px;
        width: 120px;
    }

    .cora {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .imgProduto {
        height: 100px;
        width: 100px;
    }

    .link_produto {
        font-size: 14px;
    }

    #filtro {
        margin-left: 5px;
    }
}