.sc_promocoes{
    
    width: 800px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(5, 1);  
    /* repete 4 vezes uma fração */
    grid-template-rows: 50% 50%;
    padding-left: 10%;
}
.sc_produtos2{
    
    width: 800px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(5, 1);  
    /* repete 4 vezes uma fração */
    grid-template-rows: 50% 50%;
    padding-left: 10%;
}
.prod1{
    grid-column-start: 1;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    
}
.txt_promocoes{
    grid-column-start: 1;
    grid-row-start: 1;
    color: red;
}

.imgtenis{
    grid-column-start:1;
    grid-row-start: 1;
    width: 170px;
    height: 170px;
    padding: 20px;
}
.text_tenis{
    grid-column-start: 1;
    grid-row-start: 1;
    margin-top: 145px;
}
.preco{
    grid-column-start: 1;
    grid-row-start: 1;
    margin-top: 165px;
}


.prod2{
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    
}
.txt_promocoes2{
    grid-column-start: 2;
    grid-row-start: 1;
    color: red;
}

.imgtenis2{
    grid-column-start: 2;
    grid-row-start: 1;
    width: 170px;
    height: 170px;
    padding: 28px;
}
.text_tenis2{
    grid-column-start: 2;
    grid-row-start: 1;
    margin-top: 145px;
}
.preco2{
    grid-column-start: 2;
    grid-row-start: 1;
    margin-top: 165px;;
}

.prod3{
    grid-column-start: 3;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    
}
.txt_promocoes3{
    grid-column-start: 3;
    grid-row-start: 1;
    color: red;
}

.imgtenis3{
    grid-column-start: 3;
    grid-row-start: 1;

    width: 170px;
    height: 170px;
    padding: 28px;
}
.text_tenis3{
    grid-column-start: 3;
    grid-row-start: 1;
    margin-top: 145px;
}
.preco3{
    grid-column-start: 3;
    grid-row-start: 1;
    margin-top: 165px;;
}

.imgtenis4{
    grid-column-start: 4;
    grid-row-start: 1;
    width: 170px;
    height: 170px;
    padding: 28px;
}
.text_tenis4{
    grid-column-start: 4;
    grid-row-start: 1;
    margin-top: 145px;
}
.preco4{
    grid-column-start: 4;
    grid-row-start: 1;
    margin-top: 165px;;
}

.imgtenis5{
    grid-column-start: 5;
    grid-row-start: 1;
    width: 170px;
    height: 170px;
    padding: 28px;
}
.text_tenis5{
    grid-column-start: 5;
    grid-row-start: 1;
    margin-top: 145px;
}
.preco5{
    grid-column-start: 5;
    grid-row-start: 1;
    margin-top: 165px;;
}
.imgtenis6{
    grid-column-start: 1;
    grid-row-start: 2;
    width: 170px;
    height: 170px;
    padding: 28px;
}
.text_tenis6{
    grid-column-start: 1;
    grid-row-start: 2;
    margin-top: 145px;
}
.preco6{
    grid-column-start: 1;
    grid-row-start: 2;
    margin-top: 165px;;
}
.imgtenis7{
    grid-column-start: 2;
    grid-row-start: 2;
    width: 170px;
    height: 170px;
    padding: 28px;
}
.text_tenis7{
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 145px;
}
.preco7{
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 165px;;
}
.imgtenis8{
    grid-column-start: 3;
    grid-row-start: 2;
    width: 170px;
    height: 170px;
    padding: 28px;
}
.text_tenis8{
    grid-column-start: 3;
    grid-row-start: 2;
    margin-top: 145px;
}
.preco8{
    grid-column-start: 3;
    grid-row-start: 2;
    margin-top: 165px;;
}
.imgtenis9{
    grid-column-start: 4;
    grid-row-start: 2;
    width: 170px;
    height: 170px;
    padding: 28px;
}
.text_tenis9{
    grid-column-start: 4;
    grid-row-start: 2;
    margin-top: 145px;
}
.preco9{
    grid-column-start: 4;
    grid-row-start: 2;
    margin-top: 165px;;
}
.imgtenis10{
    grid-column-start: 5;
    grid-row-start: 2;
    width: 170px;
    height: 170px;
    padding: 28px;
}
.text_tenis10{
    grid-column-start: 5;
    grid-row-start: 2;
    margin-top: 145px;
}
.preco10{
    grid-column-start: 5;
    grid-row-start: 2;
    margin-top: 165px;;
}