.containerpr{
    width: 100%;
}
.imgtenis{
    height: 190px;
    width: 190px;
}
.linha{
    width: 70%;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-between;
    margin: auto;
    
}
.prod{
    display: flex;
    flex-direction: column;
    
}